#ui_manager {
  padding: 20px 20px 20px 962px;
}
#ui_manager #ui_left_outer {
  top: 0;
  left: 0;
  width: 940px;
  height: 100%;
  border-right: 2px solid #777;
}
#ui_manager #ui_left_outer > thead > tr > td {
  padding: 5px 5px 0;
  background: #fff;
}
#ui_manager #ui_left_outer > tbody > tr > td {
  border-top: 2px solid #777;
}
#ui_manager #ui_left_outer > tbody > tr > td > div {
  height: 100%;
  overflow-y: scroll;
}
#ui_manager #ui_left_outer .tab {
  background: #ddd;
  color: #999;
  padding: 6px 10px;
}
#ui_manager #ui_left_outer .tab:hover {
  backgro2und: #757575;
  color: #666;
}
#ui_manager #ui_left_outer .tab.active {
  background: #2196f3;
  color: #fff;
}
#ui_manager #ui_left_outer .tab-cont > :nth-child(1) {
  border-top-left-radius: 4px;
}
#ui_manager #ui_left_outer .tab-cont > :nth-last-child(2) {
  border-top-right-radius: 4px;
}
#ui_manager #ui_left_outer .top-button {
  background: #e0f7fa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 10px;
}
#ui_manager #ui_left_outer .top-button:hover {
  background: #b2ebf2;
}
#ui_manager #ui_left_outer .top-button-cont {
  margin-left: auto;
}
#ui_manager #ui_left_outer .top-button-cont > .top-button {
  margin-left: 4px;
}
#ui_manager #ui_left_outer .print-block {
  font-family: consolas;
  word-break: break-word;
}
#ui_manager #ui_left_outer .print-key {
  color: #000;
  font-weight: bold;
}
#ui_manager #ui_left_outer .print-string {
  color: #bf4949;
}
#ui_manager #ui_left_outer .print-string.has-tooltip {
  background: #f9f3f3;
}
#ui_manager #ui_left_outer .print-string.has-tooltip:hover {
  background: #f5e7e7;
  color: #951f1f;
}
#ui_manager #ui_left_outer .print-string.has-tooltip.tooltip-active {
  background: #e8d0d0;
  color: #951f1f;
}
#ui_manager #ui_left_outer .print-number {
  color: #2696ce;
}
#ui_manager #ui_left_outer .print-object {
  color: #a6c544;
  font-weight: bold;
  font-style: italic;
}
#ui_manager #ui_left_outer .print-collapsable.hover,
#ui_manager #ui_left_outer .print-collapsable.active {
  background: #e0f7fa;
}
#ui_manager #ui_left_outer .print-collapsable.active.hover {
  background: #eefdff;
}
#ui_manager #ui_left_outer .print-collapsable.active > :nth-child(n + 2) {
  display: none;
}
#ui_manager #ui_left {
  width: 100%;
}
#ui_manager #ui_left > tbody > :nth-child(1) {
  height: 30px;
}
#ui_manager #ui_left #ui_directories div {
  padding: 0 4px 3px 4px;
}
#ui_manager #ui_left #ui_directories div:hover {
  background: #eee;
}
#ui_manager #ui_left #ui_directories div.active {
  background: #3f51b5;
  color: #fff;
}
#ui_manager #ui_left #ui_directories .dir-folder {
  background: #ffc107;
}
#ui_manager #ui_left #ui_directories .dir-folder:hover {
  background: #ffb300;
}
#ui_manager #ui_left #ui_directories .dir-folder.active {
  background: #9e9e9e;
  color: #000;
}
#ui_manager #ui_left #ui_directories .dir-folder.active:hover {
  background: #bdbdbd;
}
#ui_manager #ui_left #ui_directories .dir-file {
  padding-left: 20px;
}
#ui_manager #ui_left #ui_info {
  white-space: break-spaces;
  word-break: break-all;
}
